[run]
branch = True
source = .
omit =
    */tests/*
    core/exceptions.py
    */venv/*
    */__pycache__/*
    cli\__init__.py
    core\__init__.py
    */pygame_ui/*
    generate_reports.py 

[report]
show_missing = True