[design]
# Límites aumentados para ser realistas con un proyecto de UI y lógica de juego
max-args=10
max-statements=100
max-locals=25
max-returns=10
max-branches=30
max-nested-blocks=5
max-public-methods=50
max-attributes=30
min-public-methods=1

[REPORTS]
reports=no

[FORMAT]
# Aumente el límite de longitud de línea a 120
max-line-length=120

[TYPECHECK]
generated-members=pygame.*

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0303, # trailing-whitespace
    C0304, # missing-final-newline
    C0305, # trailing-newlines

